@CHARSET "ISO-8859-1";

body {
    background: url(../imgs/fundo1.jpg) no-repeat fixed center;
	background-size: 100% 100%;
}

#divFormLogin{
	margin-top: 12%;
	padding: 2%;
	background-color: white;
	border-radius: 10px;
}

#divFormCadastro{
	width: 20%;
	margin-top: 12%;
	padding: 2%;
	background-color: white;
	border-radius: 10px;
}

#divTabelaVerificar{
	margin-top: 1%;
	padding: 2%;
	border-radius: 10px;
}

#navBar{
	background-color: Red;
}