@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);

@CHARSET "ISO-8859-1";
body {
	background-size: 50%;
	background-image: url("imgs/bgps.png");
}



#divFormLogin{
	margin-top: 12%;
	padding: 2%;
	background-color: white;
	border-radius: 10px;
}

#divFormCadastro{
	width: 20%;
	margin-top: 12%;
	padding: 2%;
	background-color: white;
	border-radius: 10px;
}

#divTabelaVerificar{
	margin-top: 1%;
	padding: 2%;
	border-radius: 10px;
}
#carouselExampleIndicators{
	width: 10%;
	height: 10%;
	position: center;
}

#navBar{
	background-color: #d9d9d9;
}

#footer {
	background-color: #3900d6;
	width: 100%;
    position: fixed;
    bottom:0;
    left:0;
}

#btBaixar{
	background-color: #AAEBFF;
}

#navItem{
	color: white; 
}


#anamnese{
	margin-top: 12%;
	background-color: #adb5ff;
}


.btMedia {
	background-repeat: no-repeat;
	height: 40px;
	width: 284px;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#btGoogle {
	background-image: url("../imgs/logargoogle.png");
}
#btFacebook {
	background-image: url("../imgs/cfacebook.png");
}

.btAvatar {
	
	background-repeat: no-repeat;
	background-size: 90px;
	height: 90px;
	width: 90px;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	
}
#btAvatar {
	background-image: url("../imgs/avatarO.png");
}

.btStore {
	background-repeat: no-repeat;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	
}

#btPlay {
	background-image: url("../imgs/playstore.png");
	background-size:10px;
}

.footerLinks{
   text-align: center; 
   padding: 5% 0 2% 0" 
}
.footer{
    padding-top: 20px;
 padding-bottom: 20px;
  background-color: white;
  bottom: 0;
  position: relative;
  width: 100%;   
}

.fa-stack{
    color:#00aced;
}
.footerLinks >span > a{
    color:light-blue;!important;
}
.icon-facebook {
   color:#3b5998;
}

.icon-twitter {
    color:#00aced;
}

.icon-gplus{
    color:#dd4b39;
}

.fa-stack-1x {
    color:white;
}

.fa-s{
    color:#00aced;
}
.list-inline>li{

   padding-left:1px;!important;
   padding-right:1px;!important ;
   display: inline;
   float: center;
}
.db-bk-color-one {
    background-color:  #f8f8f8;
}

