@CHARSET "ISO-8859-1";

body {
	background-size: 50%;
	background-image: url("imgs/bgps.png");
}



#divFormLogin{
	margin-top: 12%;
	padding: 2%;
	background-color: white;
	border-radius: 10px;
}

#divFormCadastro{
	width: 20%;
	margin-top: 12%;
	padding: 2%;
	background-color: white;
	border-radius: 10px;
}

#divTabelaVerificar{
	margin-top: 1%;
	padding: 2%;
	border-radius: 10px;
}
#carouselExampleIndicators{
	width: 10%;
	height: 10%;
	position: center;
}

#navBar{
	background-color: #E2EFFA;
}

#footer {
	background-color: #D9E1FF;
	width: 100%;
    position: fixed;
    bottom:0;
    left:0;
}

#btBaixar{
	background-color: #AAEBFF;
}

#navItem{
	color: white; 
}

#anamnese{
	margin-top: 12%;
	background-color: #adb5ff;
}

#carousel{
	background-color: #D9E1FF;
}

.btMedia {
	background-repeat: no-repeat;
	height: 40px;
	width: 284px;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#btGoogle {
	background-image: url("../imgs/logargoogle.png");
}
#btFacebook {
	background-image: url("../imgs/cfacebook.png");
}

.btAvatar {
	
	background-repeat: no-repeat;
	background-size: 90px;
	height: 90px;
	width: 90px;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	
}
#btAvatar {
	background-image: url("../imgs/avatarO.png");
}